/*
Document   : style.css
Created on : Aug 13, 2012, 9:30:34 AM
Author     : jespinal
Description: Slackware-Es CSS file
 */

/*
 * Normalize basic typography to reduce visual-diff noise between
 * environments (system font stack + consistent baseline).
 * This is intentionally conservative so the site's look remains
 * unchanged except for font rendering consistency.
 */
html, body {
    /* Use the original site's serif font to match appearance */
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 1.45;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

root {
    display: block;
}

* {
    padding: 0;
    border: 0;
    color: black;
}

body {
    background-image: url(../images/background.jpg);
}

#global_container {
    width: 85%;
    margin: 0 auto;
    margin-top: 70px;
    /*
    border: 1px solid red;
    */
}
    #header_container {
        height: 80px;
        min-width: 975px;
    }
        #slogan {
            width: 40%;
            float: left;
            font-weight: bold;
            text-align: center;
            background-color: white;
            margin: 40px 0 0 70px;
            padding: 5px 0 5px 0;
        }

        #slogan a {
            text-decoration: none;
        }

        #logo {
            float: right;
            margin-right: 80px;
            width: 265px;
            height: 75px;
            background-image: url(../images/slackware_traditional_website_logo.png);
            background-position: center;
            background-repeat: no-repeat;
        }

.reveal {
    border: 1px solid black;
}

.undecored {
    color: black;
    text-decoration: none;
}

.strong_border {
    border: 3px solid black;
}

#body_container {
    margin-top: 20px;
    min-width: 975px;
    /* This is not actually needed, but it's useful for vusial-debuggin pursposes */
    height: 768px;
}
    #sidebar {
        float:left;
        width: 10%;
        min-width: 105px;
        font-size: 13px;
        font-weight: bold;
        border-left: none;
        border-right: none;
    }

    #sidebar span {
        display: block;
        padding: 10px 5px 10px 15px;
        background-color: white;
        text-decoration: underline;
        width: auto;
        border-left:3px;
        border-left-style: solid;
        border-right:3px;
        border-right-style: solid;
    }

    #sidebar span.separator {
        border: 0;
        padding: 0;
        display: block;
        height: 5px;
        background-color: transparent;
        border-top: 3px;
        border-bottom: 3px;
        border-style: solid;
    }

    #content {
        float: left;
        margin-left: 10px;
        height: auto;
        width: auto;
        max-width: 88%;
        min-width: 833px;
        vertical-align: top;
    }

        .content_title {
            padding: 0px 0px 0px 10px;
            font-weight: bolder;
            font-size: 16px;
            background-color: white;
            margin-top: 0;
            margin-bottom: 5px;
            clear: both;
        }

        .content_title a {
            text-decoration: none;
        }

        .content_date {
            float: right;
            width: 20%;
            min-width: 130px;
            padding: 5px;
            font-weight: bold;
            text-align: center;
            font-size: 85%;
        }

        .content_date,.content_body {
            background-color: white;
            display: inline;
        }

        .content_body {
            float: left;
            padding: 10px;
            /*
             * Normally this would allow a slightly wider percent, but the
             * overal padding messes around with calculations
             */
            width: 77%;
            min-width: 640px;
            margin-bottom: 20px;
        }

        /* Security advisories archives links */
        .content_body .security_lnk {
            margin-left:20px;
            display: inline-block;
        }

        .content_body ul {
            padding: 20px;
        }

        .navigation {
            font-size: 12px;
            text-align: center;
            width: 615px;
            background-color: white;
            clear: both;
            margin: 0 auto;
            margin-bottom: 40px;
            float: left;
        }

#footer_container {
    text-align: center;
    font-size: 10px;
    width: 500px;
    margin: 0 auto;
    clear: both;
    float:right;
    background-color:white;
    padding: 2px;
}
